<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ULock">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <action android:name="android.intent.action.BOOT_COMPLETED" />
    <category android:name="android.intent.category.DEFAULT" />
    <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_lock"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.ULock.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".App_Database.Screen_Receiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </receiver>
        <activity
            android:name=".App_Database.ExitActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"/>

        <service
            android:name=".App_Database.LockService"
            android:enabled="true" />


        <activity
            android:name="com.ULock.App_Database.All_Password"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ULock.PinLockActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ULock.ConfirmPinLockActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ULock.PasswordLockActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name="com.ULock.ConfirmPassLockActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan"/>

        <activity
            android:name="com.ULock.AppListActivity"
            android:label="@string/title_activity_app_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ULock.SetPatternActivity"
            android:label="@string/set_pattern_title"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.ULock.ConfirmPatternActivity"
            android:label="@string/confirm_pattern_title"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.ULock.ConfirmGestureActivity"
            android:label="@string/confirm_pattern_title"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.ULock.GestureDetectorActivity"
            android:label="@string/title_activity_gesture_detector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ULock.LockSelectionActivity"
            android:label="@string/title_activity_lock_selection"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.ULock.IntroductionActivity"
            android:label="@string/title_activity_lock_selection"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
